.wrapper {
    background: rgb(17, 17, 17);
    background: linear-gradient(119deg, rgba(17, 17, 17, 1) 15%, rgba(121, 91, 9, 0.9290091036414566) 85%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 999;
    gap: 20px;
}

.helloImage {
    width: 15%;
    border-radius: 50%;
    position: absolute;

    @media only screen and (max-width: 768px) {
        width: 30%;
    }

    @media only screen and (max-width: 450px) {
        width: 35%;
    }

}

.top {
    top: 5%;
    right: 5%;
}

.bottom {
    bottom: 5%;
    left: 5%;
}

.text {
    color: #f9fafb;
    font-size: 22px;
}

.typing-demo {
    width: 300px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 40px;
    color: #fff;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    80% {
        border-color: transparent
    }
}